<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0" metadata-complete="true">

    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>maple</servlet-name>
        <servlet-class>WelcomeToMapleStory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>maple</servlet-name>
        <url-pattern>/maple</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>Template</servlet-name>
        <servlet-class>ShowTemplate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Template</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>RpgMenu</servlet-name>
        <servlet-class>Menu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpgMenu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>RpgWalk</servlet-name>
        <servlet-class>Walk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpgWalk</servlet-name>
        <url-pattern>/walk</url-pattern>
    </servlet-mapping>

</web-app>