<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0" metadata-complete="true">



<!-- トップ・一覧 -->
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>Top</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>    

    <servlet>
        <servlet-name>GameReview</servlet-name>
        <servlet-class>Review</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameReview</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>    
    
        <servlet>
        <servlet-name>Rireki</servlet-name>
        <servlet-class>Rireki</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rireki</servlet-name>
        <url-pattern>/rireki</url-pattern>
    </servlet-mapping>  
    
<!-- ゲーム各ページ -->

    
    <servlet>
        <servlet-name>maple</servlet-name>
        <servlet-class>MapleStory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>maple</servlet-name>
        <url-pattern>/maple</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MineCraft</servlet-name>
        <servlet-class>MineCraft</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MineCraft</servlet-name>
        <url-pattern>/minecraft</url-pattern>
    </servlet-mapping>
    
        

<!-- 漫画各ページ -->
    <!-- ワートリ -->
    <servlet>
        <servlet-name>WorldTriger</servlet-name>
        <servlet-class>WorldTriger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorldTriger</servlet-name>
        <url-pattern>/worldtriger</url-pattern>
    </servlet-mapping>
    <!-- 君と僕。 -->
    <servlet>
        <servlet-name>KimiToBoku</servlet-name>
        <servlet-class>KimiToBoku</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KimiToBoku</servlet-name>
        <url-pattern>/kimitoboku</url-pattern>
    </servlet-mapping>
    <!-- ダンジョン飯 -->
    <servlet>
        <servlet-name>DangeonMesi</servlet-name>
        <servlet-class>DangeonMesi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DangeonMesi</servlet-name>
        <url-pattern>/dangenmesi</url-pattern>
    </servlet-mapping>
    
    
<!-- 自己紹介 -->
    <!-- 自己紹介トップ -->
    <servlet>
        <servlet-name>SelfIntroduction</servlet-name>
        <servlet-class>SelfIntroduction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelfIntroduction</servlet-name>
        <url-pattern>/selfintroduction</url-pattern>
    </servlet-mapping>  
    <!-- 私について -->
    <servlet>
        <servlet-name>MyDates</servlet-name>
        <servlet-class>MyDates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyDates</servlet-name>
        <url-pattern>/mydates</url-pattern>
    </servlet-mapping> 
    <!-- 学習した言語について -->
    <servlet>
        <servlet-name>MyLanguages</servlet-name>
        <servlet-class>MyLanguages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyLanguages</servlet-name>
        <url-pattern>/mylanguages</url-pattern>
    </servlet-mapping> 
    
    <!-- 作品紹介hページ -->
    <servlet>
        <servlet-name>MyCreature</servlet-name>
        <servlet-class>MyCreature</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyCreature</servlet-name>
        <url-pattern>/mycreature</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>IgoPyCode</servlet-name>
        <servlet-class>IgoPyCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IgoPyCode</servlet-name>
        <url-pattern>/igopyCode</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>ShowForm</servlet-name>
        <servlet-class>FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowForm</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ShowResult</servlet-name>
        <servlet-class>ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowResult</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    
    
    //
    <servlet>
        <servlet-name>MemoForm</servlet-name>
        <servlet-class>MemoForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemoForm</servlet-name>
        <url-pattern>/memoform</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ResultMemo</servlet-name>
        <servlet-class>ResultMemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultMemo</servlet-name>
        <url-pattern>/memoresult</url-pattern>
    </servlet-mapping>
    
    <!-- 電卓 -->
    <servlet>
        <servlet-name>CalcuratorResult</servlet-name>
        <servlet-class>CalcuratorResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalcuratorResult</servlet-name>
        <url-pattern>/calcuratorresult</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CalcuratorForm</servlet-name>
        <servlet-class>CalcuratorForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalcuratorForm</servlet-name>
        <url-pattern>/calcuratorform</url-pattern>
    </servlet-mapping>
    
    
    <!-- 趣味 -->
    <servlet>
        <servlet-name>MyHobbies</servlet-name>
        <servlet-class>MyHobbies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyHobbies</servlet-name>
        <url-pattern>/myhobbies</url-pattern>
    </servlet-mapping> 
    
    
    
    <!-- SQL -->
    <servlet>
        <servlet-name>SelectSqlServlet</servlet-name>
        <servlet-class>SelectSqlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectSqlServlet</servlet-name>
        <url-pattern>/showsql</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<!-- テスト -->
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Template</servlet-name>
        <servlet-class>ShowTemplate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Template</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RpgMenu</servlet-name>
        <servlet-class>Menu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpgMenu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RpgWalk</servlet-name>
        <servlet-class>Walk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpgWalk</servlet-name>
        <url-pattern>/walk</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RpgBattle</servlet-name>
        <servlet-class>Battle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpgBattle</servlet-name>
        <url-pattern>/battle</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HtmlTest</servlet-name>
        <servlet-class>HtmlTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HtmlTest</servlet-name>
        <url-pattern>/html</url-pattern>
    </servlet-mapping>    
    
    
        
    
    
</web-app>